src/main/resources/files/organization.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType"/>
  <xs:complexType name="EmployeeType">
    <xs:sequence>
      <xs:element name="fullName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Alex"/>
            <xs:enumeration value="Bob"/>
            <xs:enumeration value="Colin"/>
            <xs:enumeration value="Din"/>
            <xs:enumeration value="Frank"/>
            <xs:enumeration value="Evan"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="birthDate">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1999-10-10"/>
            <xs:enumeration value="1998-10-11"/>
            <xs:enumeration value="1997-11-12"/>
            <xs:enumeration value="1996-11-13"/>
            <xs:enumeration value="1994-12-15"/>
            <xs:enumeration value="1995-12-14"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmployeesType">
    <xs:sequence>
      <xs:element type="EmployeeType" name="Employee" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationsType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Arsenal"/>
            <xs:enumeration value="Liverpool"/>
            <xs:enumeration value="Manchester"/>
            <xs:enumeration value="Beveren"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dateOfCreation">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1886-01-01"/>
            <xs:enumeration value="1892-01-01"/>
            <xs:enumeration value="1878-01-01"/>
            <xs:enumeration value="1934-01-01"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="status">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="EmployeesType" name="Employees"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element type="OrganizationsType" name="Organizations" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>